    <footer class="page-footer blue">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">TarinGO</h5>
                    <p class="grey-text text-lighten-4">TarinGO no se hace responsable de cualquier boludez que publiquen los usuarios.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" href="/contacto">Contacto</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="/ayuda">Ayuda</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://twitter.com/taringo">Twitter</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="/post/random">Random</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyrai
                <a class="grey-text text-lighten-4 right" href="#!">Puto el que lee</a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>