<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{.Title}}</title>
</head>
<body>
    <nav id="header">
        <div class="nav-wrapper blue">
            <a href="#" class="brand-logo center">TarinGO</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/mi">Mi</a>
                </li>
                {{if .Loged}}
                <li>
                    <a href="/perfil/{{.Username}}">{{.Username}}</a>
                </li>
                <li>
                    <a href="/logout">Cerrar Sesión</a>
                </li>
                {{else}}
                <li>
                    <a href="/registro">Registrarse</a>
                </li>
                <li>
                    <a href="/login">Iniciar Sesión</a>
                </li>
                {{end}}
            </ul>
        </div>
    </nav>