    <div class="container principal">
        <div class="collection with-header" id="lista-posts">
            <li class="collection-header">
                <h5>Últimos Posts</h5>
            </li>
            {{if .Posts}}
            {{with .Posts}}
            {{range .}}
            <a href="/post/{{.IdPost}}" class="collection-item">{{.Titulo}}</a>
            {{end}}
            {{end}}
            {{else}}
            <p>No hay ningún post publicado.</p>
            {{end}}
        </div>
    </div>